/* for topbar */
.topbar {
  height: 60px;
  background: #ffffff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
}

.topbar h3 {
  font-size: 18px;
  font-weight: 600;
  color: #0f172a;
}

.profile {
  font-size: 14px;
  color: #334155;
}

.profile-wrapper {
  position: relative;
}

.profile {
  cursor: pointer;
  font-weight: 500;
}

.profile-dropdown {
  position: absolute;
  right: 0;
  top: 35px;
  background: #fff;
  border-radius: 6px;
  min-width: 120px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  z-index: 100;
  animation: fadeIn 0.15s ease-in;
}

.profile-dropdown button {
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
}

.profile-dropdown button:hover {
  background: #f5f5f5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* end code for topbar */

.admin-layout {
  display: flex;
  height: 100vh;
}

.admin-main {
  flex: 1;
  background: #f1f5f9;
  overflow-y: auto;
}

.admin-content {
  padding: 25px;
}


/* for login page */
/* LOGIN PAGE */
.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ffffff, #ffffff);
}

.login-card {
  background: #ffffff;
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

.login-card h2 {
  text-align: center;
  margin-bottom: 8px;
  color: #020617;
}

.login-card p {
  text-align: center;
  margin-bottom: 30px;
  color: #64748b;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #020617;
}

.form-group input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
}

.form-group input:focus {
  outline: none;
  border-color: #3b6fe5;
}

.btn-login {
  width: 100%;
  padding: 12px;
  background: #3b6fe5;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.btn-login:hover {
  background: #2f5bd1;
}

.login-footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.login-footer a {
  color: #ffffff;
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}
/* endf for login page */


